extends ../../layouts/default.pug 
include ../../mixins/alert.pug 

block main 
    +alert-error(4000)

    .container.my-5
        .row.justify-content-center 
            .col-8
                h1.text-center Đăng kí tài khoản 
                form(action="/user/register", method="post") 
                    div(class="form-group")
                        label(for="fullName") Họ và tên: 
                        input(
                            type="text"
                            id="fullName"
                            name="fullName"
                            class="form-control"
                            required
                        )
                    div(class="form-group")
                        label(for="email") Email: 
                        input(
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            required
                        )
                    div(class="form-group")
                        label(for="password") Mật khẩu: 
                        input(
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            required
                        )
                    button(
                        class="btn btn-primary btn-block"
                        type="submit"
                    ) Đăng kí 